  <nav class="pb-6 text-sm" aria-label="Breadcrumb">
  <ol class="list-none p-0 inline-flex flex-wrap items-center space-x-2">
    <li class="inline-flex items-center">
      <%= link_to root_path, class: "text-gray-600 hover:text-indigo-600 transition-colors inline-flex items-center" do %>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1.5 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
        </svg>
        Home
      <% end %>
    </li>
    <% pre.each do |page| %>
      <li class="inline-flex items-center" aria-current="page">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 text-gray-400 mx-1 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
        </svg>
        <span class="font-medium text-gray-900"><%= page %></span>
      </li>
    <% end %>
    <li class="inline-flex items-center" aria-current="page">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 text-gray-400 mx-1 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
      </svg>
      <span class="font-medium text-gray-900"><%= current_page %></span>
    </li>
  </ol>
</nav>
