<% if impersonating_user? %>
  <div class="mb-4 p-4 bg-yellow-50 border-l-4 border-yellow-400 flex justify-between items-center">
    <div>
      You are currently impersonating <span class="font-mono text-yellow-800"><%= Current.user&.email_address %></span>.
    </div>
    <%= button_to "Stop Impersonating", switch_back_admin_admin_users_path, method: :post, class: "inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-yellow-800 bg-yellow-100 hover:bg-yellow-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-500" %>
  </div>
<% end %>
