<!-- Hero Section -->
<div data-controller="static">
  <%= render "hero_section" %>
  <!-- Stats Section -->
  <%= render "stats_section" %>
  <!-- Features Section -->
  <%= render "feature_section" %>
  <!-- CTA Section -->
  <%= render "cta_section" %>
</div>
